# Configurações do Servidor
PORT=3000

# Chave Pix para o Recebimento
PIX_KEY=12345678909
PIX_NOME=Erick Zebedeu
PIX_CIDADE=Caravelas

# Número do Capitão Erick (Para onde os avisos serão enviados)
# Formato Internacional: DDI + DDD + Numero (ex: 5573999999999)
ERICK_WHATSAPP=5573999999999

# Credenciais do Painel Admin
ADMIN_USER=erick
ADMIN_PASSWORD=pirata
JWT_SECRET=super_secret_jwt_key

# URL da IA Local (Ollama)
OLLAMA_API_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=qwen2.5:3b
